<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-resource库发送AJAX请求</title>
    <script src="/vue_basic/static/js/vue.js"></script>
    <script src="/vue_basic/static/js/bootstrap.min.js"></script>
    <script src="/vue_basic/static/js/jQuery.min.js"></script>
    <script src="/vue_basic/static/js/vue-resource.min.js"></script>
    <link href="/vue_basic/static/css/bootstrap.css" type="text/css">
    <script>
        window.onload=function(){
            var vm=new Vue({
               el:'#app',
                data:{
                },
                methods:{
                   sendJSONP(){
                      //https://sug.so.360.cn/suggest?callback=suggest_so&encodein=utf-8&encodeout=utf-8&format=json&fields=word&word=a
                       this.$http.jsonp('https://sug.so.360.cn/suggest',{
                           params:{
                               word:'a'
                           }
                       }).then(function (resp) {
                           console.log(resp.data.s)
                       });
                   },
                    sendJSONP2(){
                      //https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=a&json=1&p=3&sid=1444_21083_17001_24880_24658&req=2&csor=1&cb=jQuery1102000553971360980543_1509404217934&_=1509404217937
                       this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                           params:{
                               wd:'a'
                           },
                           jsonp:'cb' //因百度使用的jsonp参数名是cb,故需要修改
                       }).then(function (resp) {
                           console.log(resp.data.s)
                       });
                   }
                   }
            });
        }
    </script>
</head>
<body>
    <div id="app">
        <h2>Vue本身不支持AJAX,需第三方库</h2>
        <h3>利用vue-resource库跨域AJAX发送请求</h3>
        <a href="https://github.com/pagekit/vue-resource/tree/develop">Vue-resource文档说明</a>
        <h4>第一步:安装</h4>
        <p>cnpm install vue-resource --save</p>
        <h4>第二步:在dist文件夹中把vue-resource.min.js拷贝至js文件夹下</h4>
        <h4>第三步:head部引用该js文件</h4>
        <h4>vue实例中编写JSONP方法</h4>
        <p></p>
        <button @click="sendJSONP">向360搜索跨域发送AJAX请求</button>
        <button @click="sendJSONP2">向百度搜索跨域发送AJAX请求</button>
    </div>
</body>
</html>